#header-holder {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 25px;
    height: 50px;
    width: 100%;
    background: rgba(88, 75, 79, 1);
}

#logo {
    flex-basis: 80px;
    flex-shrink: 0;
    height: 100%;
}

#navigation-container {
    flex-basis: 100%;
    text-align: right;
}

#navigation {
    padding-right: 100px;
}

.navigation-anchor {
    width: 50px;
    height: 100%;
    margin: 0 10px;
    text-decoration: none;
    color: #efeae1;
    transition: 0.2s;
}

.navigation-anchor:hover {
    color: #3b9b6d;
    transition: 0.2s;
}

@media (max-width:570px) {
    #logo {
        display: none;
    }
    #navigation-container {
        text-align: center;
    }
    #navigation {
        padding: 0;
    }
}